@import url("http://fonts.cdnfonts.com/css/andy-bear");
@import url("http://fonts.cdnfonts.com/css/animosa");

.menu {
  position: absolute;
  top: 3.8rem;
  left: 0;
  margin-left: -20px;
  height: 80vh;
  width: 99vw;
  /* background-color: rgb(32, 33, 37); */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* border-radius: 20px; */
}

.menu-first {
  /* position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -18px;
}
/* .menu-first > button {
  background-color: rgb(32, 33, 37);
  border: none;
} */
.menu-first > .MuiSvgIcon-root {
  font-size: 30px;
  color: white;
  cursor: pointer;
  background-color: rgb(32, 33, 37);
}
.menu-first-logo > a {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-first-logo > a > img {
  height: 2.5rem;
  width: 3rem;
}
.menu-first-logo > a > h4 {
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: "Andy Bear";
}
.menu-first-logo > a > h4 > span {
  color: rgb(22, 243, 22);
}
.menu-first-input > form {
  /* border: 1px solid black; */
  height: 3rem;
  display: flex;
  flex-direction: row;
  width: 29rem;
  align-items: center;
  border: none;
  border-radius: 20px;
  background-color: white;
}

.menu-first-input > form > input {
  padding: 5 px;
  margin-left: 2px;
  border: none;
  outline: none;
  font-size: 15px;
  color: grey;
  font-family: "Roboto";
  background-color: white;
  border-radius: 20px;
}
form > .MuiSvgIcon-root {
  margin-right: 10px;
  color: black;
}
.menu-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.bi {
  padding: 5px;
  border: 1px solid white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.bi-discord {
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgb(109, 189, 218);
}
.bi-telegram {
  margin-right: 5px;
  background-color: rgb(34, 165, 217);
}
.bi-reddit {
  margin-right: 5px;
  background-color: red;
}
.bi-twitter {
  margin-right: 5px;
  background-color: rgb(34, 165, 217);
}
.menu-links {
  display: flex;
  width: 50rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.menu-links > a > h1 {
  color: white;
  font-weight: 100;
  font-family: "Animosa";
  letter-spacing: 1px;
}
.menu-links > a > h1:hover {
  color: rgb(22, 243, 22);
}

.menu-links > a:hover {
  transform: scaleX(1.05);
}
.menu-genre {
  display: flex;
  flex-direction: column;
  width: 50rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.menu-genre > label {
  font-size: 30px;
  color: rgb(21, 231, 21);
}
.genre > a > h1 {
  color: white;
  font-weight: 100;
  font-family: "Animosa";
  letter-spacing: 1px;
}
.genre > a > h1:hover {
  color: rgb(22, 243, 22);
}

.genre > a:hover {
  transform: scaleX(1.05);
}
.genre {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
