@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
.slider {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  /* margin-top: -95px; */
}
.slide {
  /* position: absolute; */
  margin-top: -18px;
  /* top: 0;
  left: 0; */
  max-width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
  animation: slide-up 1s ease 0.5s;
  animation-fill-mode: forwards;
  /* visibility: none; */
}
@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }
  100% {
    visibility: 100%;
    top: 17rem;
  }
}
.sliderImg {
  object-fit: fill;
  width: 100vw;
  height: 80%;
  filter: brightness(50%);
}
.current {
  opacity: 1;
  transform: translateX(0);
}

.current .content {
  opacity: 1;
}
.content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: absolute;
  top: 15rem;
  left: 5rem;
  color: white;
  max-width: 55%;
  /* padding: 3rem; */
}

.content > h2 {
  font-family: "Kanit";
  font-size: 50px;
}
.content > p {
  font-size: 15px;
  margin-top: -15px;
  font-family: "Roboto";
  letter-spacing: 1px;
}
.content > .bn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

}

@media screen and (max-width: 600px) {
  .slide img {
    width: 100%;
  }
  .content {
    width: 80%;
  }
}
